:root {
	--clr-primary: #272727;
	--clr-secondary: #fff;
	--clr-tirnary: #c2c2c2;
	--clr-grey: #757575;
	--clr-grey-light: #959595;
	--clr-circle: #656565;
	--clr-bg-grey: #ededed;
	--clr-accent: #e2b67a;
	--clr-invalid: rgb(248, 140, 107);
	--width-content: 118rem;
	--fz-16: 14px;
	--fz-16: 16px;
	--fz-18: 18px;
	--fz-22: 22px;
	--fz-24: 24px;
	--fz-32: 32px;
	--fz-48: 48px;
	--fz-64: 64px;
	--ff-futura: "FuturaPT";
	--ff-segoe: "SegoeUI";
	--ff-forum: "Forum";
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 450;
	--fw-bold: 600;
	--fs-italic: italic
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

details,main {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,strong {
	font-weight: bolder
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none;
	height: auto;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

button,input,optgroup,select,textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,input {
	overflow: visible
}

button,select {
	text-transform: none
}

[type=button],[type=reset],[type=submit],button {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
	outline: ButtonText dotted 1px
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

[hidden],template {
	display: none
}

body,html {
	height: 100vh;
	margin: 0;
	scroll-behavior: smooth
}

html {
	font-size: 62.5%;
	box-sizing: border-box
}

body {
	min-width: 320px;
	height: 100%;
	overflow-x: hidden;
	font-family: var(--ff-futura);
	font-weight: var(--fw-regular);
	font-style: normal;
	line-height: normal
}

*,::after,::before {
	box-sizing: inherit;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column
}

.main {
	flex: 1 0 auto
}

.btn-reset {
	border: none;
	padding: 0;
	outline: 0;
	background: 0 0;
	display: inline-block;
	cursor: pointer
}

.container {
	max-width: var(--width-content);
	margin: 0 auto;
	padding: 0 15px
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none
}

.hidden-checkbox {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	position: absolute
}

.checked {
	opacity: 1
}

.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}

@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-Light.woff2) format("woff2"),url(../fonts/FuturaPT-Light.woff) format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-Book.woff2) format("woff2"),url(../fonts/FuturaPT-Book.woff) format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-Medium.woff2) format("woff2"),url(../fonts/FuturaPT-Medium.woff) format("woff");
	font-weight: 450;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-Demi.woff2) format("woff2"),url(../fonts/FuturaPT-Demi.woff) format("woff");
	font-weight: 600;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: SegoeUI;
	src: url(../fonts/SegoeUI-LightItalic.woff2) format("woff2"),url(../fonts/SegoeUI-LightItalic.woff) format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: SegoeUI;
	src: url(../fonts/SegoeUI-Italic.woff2) format("woff2"),url(../fonts/SegoeUI-Italic.woff) format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: Forum;
	src: url(../fonts/Forum-Regular.woff2) format("woff2"),url(../fonts/Forum-Regular.woff) format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal
}

.black-logo,.white-logo {
	width: 258px;
	height: 53px
}

.pin__icon {
	stroke: #fff;
	fill: transparent;
	width: 60px;
	height: 60px
}

.pin__icon:hover {
	fill: #fff;
	stroke: #272727
}

.icon__fb {
	height: 35px;
	width: 35px;
	fill: var(--clr-secondary);
	transform: scale(1);
	transition: transform .3s,fill .3s
}

.icon__fb:hover {
	fill: var(--clr-accent);
	transform: scale(.8)
}

.icon__ins {
	height: 35px;
	width: 35px;
	fill: var(--clr-secondary);
	transform: scale(1);
	transition: transform .3s,fill .3s
}

.icon__ins:hover {
	fill: var(--clr-accent);
	transform: scale(.8)
}

.icon__market {
	width: 90px;
	height: 30px
}

svg path {
	fill: inherit;
	stroke: inherit
}

.btn-card__num {
	font-family: var(--ff-futura);
	color: var(--clr-secondary);
	font-size: var(--fz-18);
	font-weight: var(--fw-light);
	opacity: .5
}

.hero__link {
	font-family: var(--ff-segoe);
	font-size: var(--fz-18);
	font-style: italic;
	font-weight: 300;
	color: var(--clr-secondary);
	mix-blend-mode: difference
}

@media only screen and (min-width: 64em) {
	.hero__link {
			color:var(--clr-primary);
			mix-blend-mode: normal
	}

	.lang-switch__btn:hover {
			color: var(--clr-accent)
	}
}

.description-name {
	margin: 0 0 9px;
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-16);
	font-weight: var(--fw-regular);
	letter-spacing: .8px;
	text-transform: uppercase;
}

.description-contain {
	margin: 0 0 9px;
	color: var(--clr-tirnary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.description-price {
	margin: 0;
	color: var(--clr-accent);
	font-family: var(--ff-segoe);
	font-size: var(--fz-18);
	font-style: italic;
	font-weight: 300;
	letter-spacing: .54px
}

.lang-switch__btn {
	color: #c4c4c4;
	font-family: var(--ff-futura);
	font-size: var(--fz-16);
	font-weight: 400;
	letter-spacing: .8px;
	text-transform: uppercase;
	transition: .3s
}

.lang-switch__btn--active {
	color: var(--clr-accent)
}

@media only screen and (min-width: 23.4375em) {
	.lang-switch__btn--active {
			color:var(--clr-primary)
	}
}

.choice__link-text {
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-24);
	font-weight: 300
}

.choice__title {
	margin: 0;
	color: var(--clr-secondary);
	text-align: center;
	font-family: var(--ff-forum);
	font-size: var(--fz-48);
	font-weight: 400;
	letter-spacing: 1.92px
}

.section-map__title,.sotial__title {
	margin: 0;
	color: var(--clr-secondary);
	font-family: var(--ff-forum);
	font-size: var(--fz-32);
	font-weight: 400;
	letter-spacing: 1.44px
}

@media only screen and (min-width: 37.5em) {
	.section-map__title,.sotial__title {
			font-size:var(--fz-48)
	}
}

.section-map__text {
	margin: 0;
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.form__input {
	color: rgba(255,255,255,.4);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.form__input::-moz-placeholder {
	color: rgba(255,255,255,.4);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.form__input::placeholder {
	color: rgba(255,255,255,.4);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.form__label {
	color: rgba(255,255,255,.4);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.form__label--email {
	color: var(--clr-grey-light)
}

.form__input--email::-moz-placeholder {
	color: var(--clr-grey-light);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.form__input--email::placeholder {
	color: var(--clr-grey-light);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300
}

.gallery__title {
	color: var(--clr-primary)
}

.contacts__label,.footer__label {
	color: var(--clr-primary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 400;
	letter-spacing: .9px;
	text-transform: uppercase
}

.contacts__phone {
	color: var(--clr-grey-light);
	font-family: var(--ff-futura);
	font-size: var(--fz-22);
	font-weight: 300
}

.footer__label {
	color: var(--clr-secondary);
	font-size: var(--fz-14);
	letter-spacing: .7px
}

.footer__link {
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-14);
	font-weight: 450;
	letter-spacing: .84px;
	text-transform: uppercase
}

.footer__phone {
	color: var(--clr-tirnary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300;
	line-height: normal
}

.footer__input::-moz-placeholder {
	color: var(--clr-tirnary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300;
	line-height: normal
}

.footer__input,.footer__input::placeholder {
	color: var(--clr-tirnary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 300;
	line-height: normal
}

.menu__link {
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-16);
	font-weight: 450;
	letter-spacing: .96px;
	text-transform: uppercase
}

.categories__title {
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-16);
	font-style: normal;
	font-weight: 600;
	letter-spacing: .96px;
	text-transform: uppercase
}

.categories__row-link {
	font-weight: 400;
	letter-spacing: 1.08px;
	font-size: var(--fz-18);
	font-family: var(--ff-futura);
	color: var(--clr-secondary)
}

.categories__row-link--accent {
	color: #efc58b;
	font-family: var(--ff-segoe);
	font-size: var(--fz-16);
	font-style: italic;
	font-weight: 300
}

.block-form__label,.block-form__text {
	font-family: var(--ff-futura);
	color: var(--clr-secondary);
	font-size: var(--fz-14);
	font-weight: 400;
	letter-spacing: .7px;
	text-transform: uppercase
}

.block-form__phone {
	color: var(--clr-tirnary);
	font-size: var(--fz-18);
	font-family: var(--ff-futura);
	font-weight: 300
}

.navigation__subtitle {
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 400;
	letter-spacing: 1.08px
}

.navigation__title {
	color: var(--clr-secondary);
	font-family: Forum;
	font-size: var(--fz-48);
	font-weight: 400;
	letter-spacing: 1.44px
}

.navigation__link {
	color: var(--clr-secondary);
	font-family: var(--ff-futura);
	font-size: var(--fz-18);
	font-weight: 400;
	letter-spacing: 1.08px
}

.block-form__phone,.contacts__phone,.footer__phone {
	transition: .3s
}

.block-form__phone:hover,.contacts__phone:hover,.footer__phone:hover {
	color: var(--clr-accent)
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: 0
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
	transform: translate3d(0,0,0)
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.slick-track:after,.slick-track:before {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}

[dir=rtl] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.leaflet-image-layer,.leaflet-layer,.leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-pane,.leaflet-pane>canvas,.leaflet-pane>svg,.leaflet-tile,.leaflet-tile-container,.leaflet-zoom-box {
	position: absolute;
	left: 0;
	top: 0
}

.leaflet-container {
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	background: #ddd;
	outline-offset: 1px;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: .75rem;
	line-height: 1.5
}

.leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-tile {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: none
}

.leaflet-tile::-moz-selection {
	background: 0 0
}

.leaflet-tile::selection {
	background: 0 0
}

.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast
}

.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0
}

.leaflet-marker-icon,.leaflet-marker-shadow {
	display: block
}

.leaflet-container .leaflet-overlay-pane svg {
	max-width: none!important;
	max-height: none!important
}

.leaflet-container .leaflet-marker-pane img,.leaflet-container .leaflet-shadow-pane img,.leaflet-container .leaflet-tile,.leaflet-container .leaflet-tile-pane img,.leaflet-container img.leaflet-image-layer {
	max-width: none!important;
	max-height: none!important;
	width: auto;
	padding: 0
}

.leaflet-container img.leaflet-tile {
	mix-blend-mode: plus-lighter
}

.leaflet-container.leaflet-touch-zoom {
	touch-action: pan-x pan-y
}

.leaflet-container.leaflet-touch-drag {
	touch-action: none;
	touch-action: pinch-zoom
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	touch-action: none
}

.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51,181,229,.4);
	color: #0078a8
}

.leaflet-tile {
	filter: inherit;
	visibility: hidden
}

.leaflet-tile-loaded {
	visibility: inherit
}

.leaflet-zoom-box {
	width: 0;
	height: 0;
	box-sizing: border-box;
	z-index: 800
}

.leaflet-overlay-pane svg {
	-moz-user-select: none
}

.leaflet-pane {
	z-index: 400
}

.leaflet-tile-pane {
	z-index: 200
}

.leaflet-overlay-pane {
	z-index: 400
}

.leaflet-shadow-pane {
	z-index: 500
}

.leaflet-marker-pane {
	z-index: 600
}

.leaflet-tooltip-pane {
	z-index: 650
}

.leaflet-popup-pane {
	z-index: 700
}

.leaflet-map-pane canvas {
	z-index: 100
}

.leaflet-map-pane svg {
	z-index: 200
}

.leaflet-vml-shape {
	width: 1px;
	height: 1px
}

.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute
}

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted;
	pointer-events: auto;
	float: left;
	clear: both
}

.leaflet-bottom,.leaflet-top {
	position: absolute;
	z-index: 1000;
	pointer-events: none
}

.leaflet-top {
	top: 0
}

.leaflet-right {
	right: 0
}

.leaflet-bottom {
	bottom: 0
}

.leaflet-left {
	left: 0
}

.leaflet-right .leaflet-control {
	float: right;
	margin-right: 10px
}

.leaflet-top .leaflet-control {
	margin-top: 10px
}

.leaflet-bottom .leaflet-control {
	margin-bottom: 10px
}

.leaflet-left .leaflet-control {
	margin-left: 10px
}

.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	transition: opacity .2s linear
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1
}

.leaflet-zoom-animated {
	transform-origin: 0 0
}

svg.leaflet-zoom-animated {
	will-change: transform
}

.leaflet-zoom-anim .leaflet-zoom-animated {
	transition: transform .25s cubic-bezier(0,0,.25,1)
}

.leaflet-pan-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-tile {
	transition: none
}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden
}

.leaflet-interactive {
	cursor: pointer
}

.leaflet-grab {
	cursor: grab
}

.leaflet-crosshair,.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair
}

.leaflet-control,.leaflet-popup-pane {
	cursor: auto
}

.leaflet-dragging .leaflet-grab,.leaflet-dragging .leaflet-grab .leaflet-interactive,.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: grabbing
}

.leaflet-image-layer,.leaflet-marker-icon,.leaflet-marker-shadow,.leaflet-pane>svg path,.leaflet-tile-container {
	pointer-events: none
}

.leaflet-image-layer.leaflet-interactive,.leaflet-marker-icon.leaflet-interactive,.leaflet-pane>svg path.leaflet-interactive,svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted;
	pointer-events: auto
}

.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,.5)
}

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,.65);
	border-radius: 4px
}

.leaflet-bar a {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	color: #000
}

.leaflet-bar a,.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block
}

.leaflet-bar a:focus,.leaflet-bar a:hover {
	background-color: #f4f4f4
}

.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none
}

.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb
}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px
}

.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px
}

.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}

.leaflet-control-zoom-in,.leaflet-control-zoom-out {
	font: bold 18px "Lucida Console",Monaco,monospace;
	text-indent: 1px
}

.leaflet-touch .leaflet-control-zoom-in,.leaflet-touch .leaflet-control-zoom-out {
	font-size: 22px
}

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,.4);
	background: #fff;
	border-radius: 5px
}

.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px
}

.leaflet-control-layers .leaflet-control-layers-list,.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff
}

.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px
}

.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px
}

.leaflet-control-layers label {
	display: block;
	font-size: 1.08333em
}

.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px
}

.leaflet-default-icon-path {
	background-image: url(images/marker-icon.png)
}

.leaflet-container .leaflet-control-attribution {
	background: rgba(255,255,255,.8);
	margin: 0
}

.leaflet-control-attribution,.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	line-height: 1.4
}

.leaflet-control-attribution a {
	text-decoration: none
}

.leaflet-control-attribution a:focus,.leaflet-control-attribution a:hover {
	text-decoration: underline
}

.leaflet-attribution-flag {
	display: inline!important;
	vertical-align: baseline!important;
	width: 1em;
	height: .6669em
}

.leaflet-left .leaflet-control-scale {
	margin-left: 5px
}

.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px
}

.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	white-space: nowrap;
	box-sizing: border-box;
	background: rgba(255,255,255,.8);
	text-shadow: 1px 1px #fff
}

.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777
}

.leaflet-touch .leaflet-bar,.leaflet-touch .leaflet-control-attribution,.leaflet-touch .leaflet-control-layers {
	box-shadow: none
}

.leaflet-touch .leaflet-bar,.leaflet-touch .leaflet-control-layers {
	border: 2px solid rgba(0,0,0,.2);
	background-clip: padding-box
}

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px
}

.leaflet-popup-content {
	margin: 13px 24px 13px 20px;
	line-height: 1.3;
	font-size: 1.08333em;
	min-height: 1px
}

.leaflet-popup-content p {
	margin: 1.3em 0
}

.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-top: -1px;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none
}

.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	pointer-events: auto;
	transform: rotate(45deg)
}

.leaflet-popup-content-wrapper,.leaflet-popup-tip {
	background: #fff;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,.4)
}

.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	text-align: center;
	width: 24px;
	height: 24px;
	font: 16px/24px Tahoma,Verdana,sans-serif;
	color: #757575;
	text-decoration: none;
	background: 0 0
}

.leaflet-container a.leaflet-popup-close-button:focus,.leaflet-container a.leaflet-popup-close-button:hover {
	color: #585858
}

.leaflet-popup-scrolled {
	overflow: auto
}

.leaflet-oldie .leaflet-popup-content-wrapper {
	-ms-zoom:1}

.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto
}

.leaflet-oldie .leaflet-control-layers,.leaflet-oldie .leaflet-control-zoom,.leaflet-oldie .leaflet-popup-content-wrapper,.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999
}

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666
}

.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.4)
}

.leaflet-tooltip.leaflet-interactive {
	cursor: pointer;
	pointer-events: auto
}

.leaflet-tooltip-bottom:before,.leaflet-tooltip-left:before,.leaflet-tooltip-right:before,.leaflet-tooltip-top:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: 0 0;
	content: ""
}

.leaflet-tooltip-bottom {
	margin-top: 6px
}

.leaflet-tooltip-top {
	margin-top: -6px
}

.leaflet-tooltip-bottom:before,.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px
}

.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff
}

.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff
}

.leaflet-tooltip-left {
	margin-left: -6px
}

.leaflet-tooltip-right {
	margin-left: 6px
}

.leaflet-tooltip-left:before,.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px
}

.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff
}

.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff
}

@media print {
	.leaflet-control {
			-webkit-print-color-adjust: exact;
			print-color-adjust: exact
	}
}

.leaflet-pane.leaflet-popup-pane .leaflet-popup {
	margin: 0 0 40px
}

@media only screen and (min-width: 23.43em) {
	.leaflet-pane.leaflet-popup-pane .leaflet-popup {
			margin-bottom:14px;
			margin-left: 81px
	}
}

.leaflet-popup .leaflet-popup-content-wrapper {
	background: rgba(103,103,103,.58);
	padding: 10px
}

.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 2px
}

.leaflet-popup .leaflet-popup-content {
	width: -moz-max-content;
	width: max-content;
	margin: 0;
	line-height: normal;
	font-family: var(--ff-futura);
	color: var(--clr-secondary);
	font-size: var(--fz-18);
	font-weight: var(--fw-light)
}

.leaflet-container a.leaflet-popup-close-button,.leaflet-popup .leaflet-popup-tip-container {
	display: none
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
	cursor: url(../img/cursor.png),auto
}

.leaflet-control-attribution.leaflet-control {
	opacity: 0;
	transition: .3s
}

.leaflet-control-attribution.leaflet-control:hover {
	opacity: 1
}

.slider {
	position: relative;
	padding-top: 80px;
	padding-bottom: 100px;
	width: 100%
}

.slick-track {
	display: flex;
	gap: 25px
}

.slick-dots {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 50px;
	right: 125px
}

@media only screen and (min-width: 37.5em) {
	.slick-dots {
			bottom:0
	}
}

@media only screen and (min-width: 81.25em) {
	.slick-dots {
			right:232px
	}
}

.slick-dots li {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 3.5px;
	width: 20px;
	height: 20px
}

.slick-dots button {
	padding: 0;
	border: none;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background: #656565;
	border-radius: 50%;
	font-size: 0
}

.slick-dots .slick-active {
	background: var(--clr-secondary);
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin-right: 3.5px
}

.slick-dots .slick-active button {
	background: var(--color-white)
}

.slick-arrow {
	position: absolute;
	bottom: -5px;
	z-index: 1;
	border: none;
	background: 0 0;
	padding: 0;
	cursor: pointer;
	font-size: 0
}

.slick-prev {
	right: 29%
}

.slick-prev::before {
	content: "";
	width: 53px;
	height: 31px;
	display: table;
	background-image: url("data:image/svg+xml,%3Csvg width='53' height='31' viewBox='0 0 53 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3438 0.999998L0.999999 15.5M0.999999 15.5L15.3437 30M0.999999 15.5L52 15.5' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: cover
}

.slick-next {
	right: 115px
}

.slick-next::after {
	content: "";
	width: 53px;
	height: 31px;
	display: table;
	background-image: url("data:image/svg+xml,%3Csvg width='53' height='31' viewBox='0 0 53 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.6562 1L52 15.5M52 15.5L37.6562 30M52 15.5L0.999999 15.5' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: cover
}

.control__btn {
	position: relative
}

.control__btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center
}

.btn-card::before {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='22' viewBox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 8H2C1.44772 8 1 8.44772 1 9V20C1 20.5523 1.44772 21 2 21H15C15.5523 21 16 20.5523 16 20V9C16 8.44772 15.5523 8 15 8H12.5M4.5 8V5C4.5 2.79086 6.29086 1 8.5 1V1C10.7091 1 12.5 2.79086 12.5 5V8M4.5 8H12.5' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	width: 17px;
	height: 22px
}

.btn-card__num {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate(0,-50%)
}

.btn-heart::before {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 20C-9.1987 8.23285 5.64047 -4.54117 11.9997 3.53633C18.3598 -4.54117 33.1989 8.23285 11.9997 20Z' stroke='white' stroke-width='1.8'/%3E%3C/svg%3E%0A");
	width: 24px;
	height: 22px
}

.btn-user::before {
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='22' viewBox='0 0 15 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8333 5.44444C11.8333 7.89904 9.89323 9.88889 7.5 9.88889C5.10677 9.88889 3.16667 7.89904 3.16667 5.44444C3.16667 2.98985 5.10677 1 7.5 1C9.89323 1 11.8333 2.98985 11.8333 5.44444Z' stroke='white' stroke-width='1.8'/%3E%3Cpath d='M1 15.4444C1 12.3762 3.42512 9.88889 6.41667 9.88889H8.58333C11.5749 9.88889 14 12.3762 14 15.4444V19.8889C14 20.5025 13.515 21 12.9167 21H2.08333C1.48502 21 1 20.5025 1 19.8889V15.4444Z' stroke='white' stroke-width='1.8'/%3E%3C/svg%3E%0A");
	height: 22px;
	width: 15px
}

.burger-box:hover .burger::after {
	transform: translateY(4px)
}

.burger-box:hover .burger::before {
	transform: translateY(-4px)
}

.burger-box {
	width: 30px;
	height: 30px;
	display: grid;
	place-content: center;
	cursor: pointer
}

.burger {
	cursor: pointer;
	display: block;
	position: relative;
	width: 30px;
	height: 2px;
	background: var(--clr-secondary);
	z-index: 1000;
	margin-top: 4px;
	transition: transform .3s cubic-bezier(.215,.61,.355,1)
}

.burger::after,.burger::before {
	content: "";
	position: absolute;
	left: 0;
	top: -8px;
	background: var(--clr-secondary);
	width: 30px;
	height: 2px;
	transition: transform .3s cubic-bezier(.215,.61,.355,1)
}

.burger::after {
	top: 8px
}

.burger.active {
	background: 0 0
}

.burger.active::after,.burger.active::before {
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	background: var(--clr-secondary);
	width: 30px;
	height: 2px;
	transition: transform .3s cubic-bezier(.215,.61,.355,1)
}

.burger.active::after {
	transform: rotate(-45deg)
}

.burger.active::before {
	transform: rotate(45deg)
}

.control__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px
}

.control__item {
	filter: drop-shadow(0 0 1px var(--clr-primary))
}

.control__item:last-of-type {
	margin-left: 80px
}

.form__group {
	position: relative;
	display: flex;
	justify-content: space-between
}

.form__group::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0
}

.form__input {
	background: 0 0;
	outline: 0;
	border: none;
	padding: 10px 10px 10px 0;
	width: 100%;
	color: var(--clr-grey-light);
	transition: outline .3s
}

.form__input:focus {
	outline: transparent solid 1px
}

.form__input:focus+.form__label {
	display: none
}

.form__input:focus:invalid {
	border-top: 1px solid var(--clr-invalid)
}

.form__label {
	position: absolute;
	left: 0;
	bottom: 10px
}

.form__link {
	cursor: pointer
}

.form__btn {
	position: relative
}

.form__btn::after {
	content: "";
	position: absolute;
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.125 1L29 8.5M29 8.5L21.125 16M29 8.5H1' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 17px;
	right: 0;
	bottom: 14px;
	transition: transform .3s
}

.form__btn--dark::after {
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.125 1L29 8.5M29 8.5L21.125 16M29 8.5H1' stroke='%23272727' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
}

.form__btn:hover::after {
	transform: translateX(5px)
}

.block-form {
	display: flex;
	flex-direction: column;
	gap: 48px
}

@media only screen and (min-width: 37.5em) {
	.block-form {
			flex-direction:row;
			justify-content: space-between
	}
}

@media only screen and (min-width: 81.25em) {
	.block-form {
			grid-column:7/-1;
			flex-direction: column
	}
}

.block-form__text {
	margin: 0 0 15px
}

.block-form__phone {
	display: inline-block;
	margin: 0 0 15px
}

.block-form__icons {
	display: flex;
	gap: 20px
}

.block-form__group {
	width: 280px;
	margin-bottom: 15px
}

.block-form__group::after {
	background: var(--clr-secondary)
}

.menu {
	background: #2f2f2f
}

.menu__list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex-wrap: wrap
}

@media only screen and (min-width: 37.5em) {
	.menu__list {
			flex-direction:row;
			gap: 25px;
			align-items: baseline
	}

	.categories__list {
			display: flex
	}
}

.menu__item {
	padding: 27px 0
}

.menu__link {
	padding: 27px 0;
	position: relative
}

.menu__link::after {
	content: "";
	width: 100%;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	inset: calc(100% - 3px) 0 0 0;
	transform: scale(0);
	transition: .3s,translate .3s
}

.menu__link:active::after,.menu__link:focus::after,.menu__link:hover::after {
	height: 1.8px;
	transform: scale(1);
	background: var(--clr-accent)
}

.menu__link.active::after {
	height: 1.8px;
	transform: scale(1);
	background: var(--clr-secondary)
}

.categories {
	padding: 70px 0;
	position: relative
}

.categories__item {
	margin-bottom: 30px;
	width: 100%
}

.categories__item--col-4 {
	grid-column: 4/6
}

.categories__title {
	margin: 0 0 30px
}

.categories__title--hide {
	pointer-events: auto
}

.categories__row-item:not(:last-child) {
	margin-bottom: 15px
}

.categories__row-link {
	transition: transform .3s ease-in-out,height .3s ease-in-out;
	position: relative;
	padding-top: 0;
	padding-bottom: 4px
}

.categories__row-link::after {
	content: "";
	position: absolute;
	width: 100%;
	background: #efc58b;
	left: 0;
	bottom: 0;
	inset: calc(100% - 3px) 0 0 0;
	transform: scale(0);
	transition: .3s,translate .3s
}

.categories__row-link:hover::after {
	transform: scale(1);
	height: 1px
}

.categories::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.8px;
	background: #2f2f2f;
	left: 0;
	bottom: 0
}

.hero {
	width: 100%;
	height: 95vh;
	background-image: linear-gradient(116deg,var(--clr-secondary) 60%,transparent 0,var(--clr-primary) 40%);
	background-repeat: no-repeat
}

@media only screen and (min-width: 64em) {
	.menu__list {
			flex-wrap:nowrap;
			justify-content: space-between;
			align-items: center
	}

	.categories__list {
			display: grid;
			grid-template-columns: repeat(8,163px);
			-moz-column-gap: 62px;
			column-gap: 62px;
			row-gap: 0
	}

	.hero {
			background-image: linear-gradient(90deg,var(--clr-secondary) 60%,transparent 0,var(--clr-primary) 40%)
	}
}

.choice {
	background: var(--clr-secondary);
	padding: 20px 0
}

.section-map {
	background: var(--clr-primary)
}

.gallery {
	background: var(--clr-secondary);
	padding: 10px 0
}

.sotial {
	padding: 100px 0;
	background: var(--clr-primary)
}

.contacts {
	background: var(--clr-secondary)
}

@media only screen and (min-width: 112.5em) {
	:root {
			--width-content:144rem
	}

	.contacts {
			max-width: 144rem;
			margin: 0 auto
	}
}

.footer {
	padding: 80px 0 90px;
	background: var(--clr-primary)
}

.header {
	width: 100%;
	padding-top: 70px;
	background: 0 0;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10
}

.header__container {
	display: flex;
	flex-direction: column;
	gap: 30px
}

@media only screen and (min-width: 37.5em) {
	.categories__item:not(:first-child) {
			margin-left:60px
	}

	.categories__title--hide {
			pointer-events: none
	}

	.header__container {
			flex-direction: row;
			justify-content: space-between;
			align-items: center
	}
}

.header__logo {
	width: 258px;
	height: 53px;
	z-index: 15;
	align-self: center;
}

.hero.show {
	background: var(--clr-primary);
	transition: .8s
}

.hero.show .hero__content {
	opacity: 0;
	transition: opacity .8s .8s
}

.hero__container {
	position: relative
}

.hero__content {
	opacity: 1;
	transition: opacity .8s .8s;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 98px
}

.hero__link {
	padding-left: 168px;
	position: relative;
	bottom: -60px
}

.hero__link::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 130px;
	height: 1px;
	background: var(--clr-primary)
}

.hero__good-box {
	display: none
}

@media only screen and (min-width: 31.25em) {
	.hero__good-box {
			margin:0;
			text-align: right;
			display: block
	}
}

@media only screen and (min-width: 64em) {
	.hero__content {
			flex-direction:row
	}

	.hero__good-box {
			padding-right: 130px
	}
}

.hero__description {
	position: absolute;
	bottom: 60px;
	right: 15px
}

.hero__leng {
	position: absolute;
	left: 0;
	bottom: 60px;
	display: flex;
	gap: 10px;
	padding-left: 15px
}

.choice__list {
	display: flex;
	flex-direction: column;
	gap: 20px
}

@media only screen and (min-width: 48em) {
	.choice__list {
			flex-direction:row;
			justify-content: center
	}
}

.choice__img {
	height: 100%
}

.choice__item {
	position: relative;
	overflow: hidden
}

.choice__item::after {
	content: "";
	position: absolute;
	background: rgba(39,39,39,.4);
	display: block;
	top: 0;
	left: 0;
	bottom: 2px;
	right: 0;
	width: 100%;
	height: auto
}

.choice__contents {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding-bottom: 23px;
	padding-top: 25px;
	z-index: 1;
	cursor: pointer
}

.choice__contents::after {
	content: "";
	position: absolute;
	width: 130px;
	height: 1px;
	background: var(--clr-secondary);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%)
}

.choice__link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	display: block;
	z-index: 2;
	white-space: nowrap
}

.choice__link-text {
	position: absolute;
	top: 27%;
	left: 50%;
	transform: translateX(-50%)
}

@media only screen and (min-width: 112.5em) {
	.section-map__list {
			max-width:144rem;
			margin: 0 auto
	}
}

.section-map__item--form {
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 75px 15px
}

@media only screen and (min-width: 64em) {
	.choice__link-text {
			top:35%
	}

	.section-map__list {
			display: flex
	}

	.section-map__item--form {
			width: 50%;
			align-items: center;
			justify-content: center
	}
}

.section-map__title:not(:first-child) {
	margin-bottom: 16px
}

.section-map__text {
	margin-bottom: 50px
}

.section-map__form-group {
	position: relative;
	max-width: 386px;
	width: 100%
}

.section-map__form-group::after {
	content: "";
	background: var(--clr-secondary)
}

.section-map__item--map {
	margin: 0 auto;
	height: 325px;
	width: 100%;
	cursor: url(img/cursor.png)
}

@media only screen and (min-width: 37.5em) {
	.section-map__item--form {
			padding:170px 15px
	}

	.section-map__item--map {
			height: 602px
	}
}

#map {
	width: 100%;
	height: 100%
}

.gallery__content {
	display: grid;
	gap: 20px
}

@media only screen and (min-width: 64em) {
	.section-map__item--map {
			height:602px;
			width: 730px;
			max-width: 51%
	}

	.gallery__content {
			grid-template-columns: 1fr 1fr
	}
}

.gallery__item {
	background: var(--clr-bg-grey);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center
}

@media only screen and (min-width: 81.25em) {
	.choice__link-text {
			top:40%
	}

	.gallery__container {
			max-width: 144rem;
			margin: 0 auto
	}

	.gallery__content {
			grid-template-columns: 1fr 1.5fr 1fr
	}

	.gallery__item {
			background: 0 0
	}
}

.gallery__item--full {
	grid-row: span 2
}

.gallery__card {
	margin: 0
}

.gallery__info {
	position: absolute;
	bottom: 20px;
	left: 30px
}

.sotial__title:first-child {
	margin-bottom: 15px
}

.sotial__icons {
	display: inline-flex;
	gap: 20px;
	padding-left: 15px
}

@media only screen and (min-width: 64em) {
	.contacts__list {
			display:flex
	}
}

@media only screen and (min-width: 112.5em) {
	.contacts__list,.sotial__container {
			max-width:144rem;
			margin: 0 auto
	}
}

.contacts__item--img {
	display: none
}

@media only screen and (min-width: 37.5em) {
	.sotial__icons {
			transform:translateY(-31px);
			padding-left: 150px
	}

	.contacts__item--img {
			display: grid;
			place-content: center;
			width: 100%
	}
}

.contacts__item--form {
	padding: 75px 15px;
	height: auto;
	display: flex;
	flex-direction: column
}

@media only screen and (min-width: 37.5em) {
	.contacts__item--form {
			padding:170px 15px
	}
}

@media only screen and (min-width: 64em) {
	.contacts__item--img {
			width:50%;
			place-content: normal
	}

	.contacts__item--form {
			width: 50%;
			align-items: center;
			justify-content: center
	}
}

.contacts__box {
	display: flex;
	flex-direction: column
}

.contacts__phone {
	margin-bottom: 100px;
	padding: 0;
	display: block;
	color: var(--clr-grey-light)
}

.contacts__label {
	margin: 0 0 30px;
	display: block;
	width: 100%
}

.contacts__form-group {
	width: 90%
}

.contacts__form-group::after {
	content: "";
	background: var(--clr-primary);
	bottom: 0;
	left: 0
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 30px
}

@media only screen and (min-width: 37.5em) {
	.footer__list {
			flex-wrap:wrap;
			flex-direction: row;
			align-items: center
	}
}

@media only screen and (min-width: 64em) {
	.contacts__form-group {
			width:280px
	}

	.footer__list {
			align-items: center;
			justify-content: space-between;
			gap: 72px
	}
}

.footer__bottom {
	display: grid;
	padding-top: 50px
}

@media only screen and (min-width: 81.25em) {
	.footer__bottom {
			padding-top:90px;
			max-width: 144rem;
			margin: 0 auto;
			grid-template-columns: repeat(2,50%)
	}
}

.footer__logo {
	align-self: center;
	margin-bottom: 50px
}

.footer__form-item {
	width: 100%
}

.footer__form {
	margin-bottom: 15px
}

.footer__form-group {
	width: 280px
}

.footer__form-group::after {
	content: "";
	background: var(--clr-secondary)
}

.footer__contact-block {
	display: flex;
	flex-direction: column;
	gap: 30px
}

@media only screen and (min-width: 37.5em) {
	.footer__contact-block {
			flex-direction:row;
			justify-content: space-between;
			gap: 80px
	}
}

.footer__label {
	margin: 0 0 15px
}

.footer__phone {
	display: inline-block;
	padding: 10px 10px 0 0;
	margin-bottom: 15px
}

.footer__icons {
	display: flex;
	gap: 20px
}

.footer__link {
	cursor: pointer;
	position: relative;
	padding-bottom: 5px
}

.footer__link::after {
	content: "";
	position: absolute;
	width: 100%;
	background: #efc58b;
	left: 0;
	bottom: 0;
	inset: calc(100% - 3px) 0 0 0;
	transform: scale(0);
	transition: .3s,translate .3s
}

.footer__link:hover::after {
	transform: scale(1);
	height: 1px
}

.footer__link-icon {
	cursor: pointer;
	transition: transform .3s
}

.navigation {
	z-index: 500;
	padding-top: 40px;
	padding-bottom: 76px;
	background: var(--clr-primary);
	transform: translateY(-100%);
	position: absolute;
	width: 100%;
	transition: transform .8s cubic-bezier(.68,-.55,.265,1.55)
}

.navigation__content {
	display: flex;
	flex-direction: column
}

.navigation__top {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 40px
}

@media only screen and (min-width: 37.5em) {
	.navigation__top {
			flex-direction:row;
			justify-content: space-between;
			align-items: center
	}
}

.navigation__logo {
	width: 258px;
	height: 53px;
	align-self: center
}

.navigation__bottom {
	padding-top: 70px
}

@media only screen and (min-width: 81.25em) {
	.navigation__content {
			display:grid;
			grid-template-columns: repeat(8,150px)
	}
}

.navigation__img-box {
	display: none;
	position: relative;
	margin: 0
}

@media only screen and (min-width: 81.25em) {
	.navigation__img-box {
			display:block;
			margin: 0;
			grid-column: 1/6;
			position: relative
	}
}

.navigation__img-content {
	position: absolute;
	inset: 30px;
	display: grid;
	grid-template-rows: repeat(2,1fr);
	align-items: center
}

.navigation__subtitle {
	margin: 0;
	align-self: start
}

.navigation__title {
	margin: 0;
	align-self: center;
	justify-self: center
}

.navigation__link {
	display: block;
	justify-self: end;
	align-self: end;
	padding-right: 53px;
	position: relative
}

.navigation__link::after {
	content: "";
	position: absolute;
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.125 1L29 8.5M29 8.5L21.125 16M29 8.5H1' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 17px;
	right: 0;
	bottom: 0;
	transition: transform .3s
}

.navigation__link:hover::after {
	transform: translateX(5px)
}

.navigation.show {
	transition: transform .8s .9s;
	transform: translateX(0)
}